*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

.container {
    min-height: 60vh;
    max-width: 40vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: hsl(30, 38%, 92%);
    padding: 1rem;
}

.card {
    min-height: 30vh;
    max-width: 36vw;
    background-color: hsl(0, 0%, 100%);
}

.product_image img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.product_info {
    padding: 1rem;
}

p, #old-price {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}

#product-title {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .7em;
    margin-bottom: .5rem;
}

h1 {
    font-family: 'Fraunces', serif;
    line-height: 2rem;
    margin-bottom: 1rem;
}

#product-about {
    font-size: .8em;
   margin-bottom: 1rem;
}

.product_info-price {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

#original-price {
font-family: 'Fraunces', serif;
font-size: 2em;
color: hsl(158, 36%, 37%);
}

#old-price {
    font-size: .7em;
    text-decoration: line-through;
}



button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color:  hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    font-weight: 600;
    margin-bottom: 1rem;
}

button:hover {
    background-color:  hsl(158, 58%, 20%);
}

@media only screen and (min-width: 1024px) {
    .flex-group {
        display: flex;
    }

    .container {
        max-width: 100vw;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 66vh;
        max-width: 40vw;
        border-radius: 6px;
    }

    .product_info {
        padding: 1rem;
        width: 50%;
    }

    .product_image {
        width: 50%;
    }

   .product_image img{
    height: 100%;
    border-radius: 0%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
   }
  }

